<main class="container">
  <%= link_to sanitize("&larr; Back to boards"), boards_path %>
  <div class="header">
    <h1>
      <%= @board.title %>
    </h1>
    <div class="actions">
      <%= button_to "Delete",
                    board_path(@board),
                    method: :delete,
                    class: "" %>
      <%= link_to "Edit",
                  edit_board_path(@board),
                  class: "" %>
    </div>
  </div>
</main>
